@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}

//color
$bg-color-1 :rgba(0, 0, 0, 0.7);
$bg-color-2: rgba(0, 0, 0, 0.16);
$bg-color-3:rgba(0, 0, 0, 0.23);
$bg-color-4:#fff;
$bg-color-5:rgba(255, 255, 255, 0.9);


body {
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  @include centerFlex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $bg-color-1;
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px $bg-color-2, 0 3px 6px $bg-color-3;
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  background-color: transparent;
  color: $bg-color-4;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}